*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}
.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container,img{
    width: 250px;
    height: 320px;
}

.top_section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-end;
}
.top_section h1 {
    font-size: 60px;
    font-weight: bold;
}
.top_section h3 {
    font-size: 25px;
    text-align: end;
}
.about_section{
    margin-top: 50px;
    text-align: justify;
}

.about_section h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.1px;
}

.work_section{
    margin: 20px 0;
}

.work_section h3{
    font-size: 30px;
    margin-bottom: 15px;
}

.work_section ul{
    margin-left: 50px;
}
.work_section li{
    margin-bottom: 15px;
}
footer{
    margin: 10px 0;
}
footer p{
    text-align: end;
}